.header{
    text-align: center;
}

nav ul{
    list-style-type: none;

}

nav ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
   
 }